/* universal */
html,
body {
  font-family: Seravek, sans-serif;
  color: #454545;
}

.container {
  display: flex;
  align-items: center;
  padding: 32px 24px;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 32px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 24px;
}

h3 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 24px;
}

h5 {
  font-size: 20px;
}

p {
  font-weight: lighter;
  line-height: 1.2;
}

/* header */
header {
  height: 64px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  height: 32px;
}

header span {
  color: gray;
}

header p {
  display: inline-block;
}

header li {
  display: inline-block;
  margin: 0 16px;
}

.header.mobile {
  display: none;
}

@media only screen and (max-width: 630px) {
  .header.desktop {
    display: none;
  }
  .header.mobile {
    display: flex;
  }

  header .nav,
  header ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

/* banner */
.banner {
  background-color: lightgray;
}

.banner .image {
  width: 60%;
}

.banner img {
  width: 100%;
}

.banner .slogan {
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
}

.banner .btn {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  color: white;
  background-color: #454545;
  text-align: center;
}

@media only screen and (max-width:825px) {
  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 630px) {
  .container {
    padding: 32px 16px;
  }

  .container.banner {
    padding: 0;
    flex-direction: column;
  }

  .banner .image {
    margin: 0;
    width: 100%;
  }

  .banner .slogan {
    width: 100%;
    box-sizing: border-box;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
  }

}

@media only screen and (max-width: 380px) {
  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }
}

/* information */
.information .main {
  width: 60%;
}

.container.information {
  align-items: flex-start;
}

.information .container.main {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-right: 24px;
}

.information img {
  width: 100%;
}

.information h2 {
  margin-top: 32px;
}

.information span {
  font-size: 14px;
  margin-top: 32px;
}

.information .container {
  padding: 0;
}

.information .other {
  flex-direction: column;
  width: 40%;
}

.other .image {
  width: 35%;
  margin: 16px;
}

.other .image.one {
  margin-top: 0;
}

.image.mobile {
  display: none;
}

.other .info {
  width: 65%;
  display: block;
}

.info h5,
.info p {
  margin: 5px 0;
}

.info .read-more {
  color: #288adf;
}

@media only screen and (max-width:825px) {
  .main {
    display: none;
  }

  .container.information {
    padding-top: 16px;
  }

  .information .other,
  .other .image,
  .other .info {
    width: 100%;
    margin: 0;
  }

  .other .info {
    box-sizing: border-box;
    padding: 0 16px;
  }

  .image.desktop {
    display: none;
  }

  .image.mobile {
    display: block;
  }

  .other .container {
    flex-direction: column;
    margin-bottom: 32px;
  }

  .other .container.three {
    margin-bottom: 0;
  }

}
