/* universal */
html,
body {
  font-family: Seravek, sans-serif;
  color: rgb(76, 76, 76);
}

.container {
  display: flex;
  align-items: center;
  padding: 32px 24px;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 32px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 24px;
}

h3 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 24px;
}

h5 {
  font-size: 20px;
}

p {
  font-weight: lighter;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header */
header {
  height: 64px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  height: 32px;
}

header span {
  color: rgb(204, 204, 204);
}

header p {
  font-size: 20px;
  display: inline-block;
}

header li {
  display: inline-block;
  margin: 0 16px;
}

header li a {
  transition: color 450ms ease;
}

header li a:hover {
  color: rgb(204, 204, 204);
}

.header.mobile {
  display: none;
}

@media only screen and (max-width: 630px) {
  .header.desktop {
    display: none;
  }
  .header.mobile {
    display: flex;
  }

  header .nav,
  header ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

/* banner */
.banner {
  background-color: rgb(204, 204, 204);
}

.banner .image {
  margin-right: 24px;
  width: 60%;
}

.banner img {
  width: 100%;
}

.banner .slogan {
  width: 40%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.banner .btn {
  width: 90%;
  padding: 8px;
  color: white;
  background-color: rgb(76, 76, 76);
  text-align: center;
  transition: background-color 450ms ease;
}

.banner .btn:hover {
  background-color: rgb(40, 40, 40);
}

@media only screen and (max-width:825px) {
  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 630px) {
  .container {
    padding: 32px 16px;
  }

  .container.banner {
    padding: 0;
    flex-direction: column;
  }

  .banner .image {
    margin: 0;
    width: 100%;
  }

  .banner .slogan {
    width: 100%;
    box-sizing: border-box;
    padding: 32px 16px;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
  }

}

@media only screen and (max-width: 380px) {
  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }
}

/* information */
.information .main {
  width: 60%;
}

.container.information {
  align-items: flex-start;
  background-color: rgba(163, 163, 163, 0.21);
}

.information .container.main {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-right: 24px;
}

.information img {
  width: 100%;
}

.information h2 {
  margin-top: 32px;
}

.information span {
  font-size: 14px;
  margin-top: 32px;
}

.information .container {
  padding: 0;
}

.information .other {
  flex-direction: column;
  width: 40%;
}

/* information (will affect thesis) */
.other .image {
  width: 35%;
  margin: 16px;
}

/* information (will affect thesis) */
.other .image.one {
  margin-top: 0;
}

/* information */
.information .image.mobile {
  display: none;
}

.information .info {
  width: 65%;
  display: block;
}

.information h5,
.information .info p {
  margin: 5px 0;
}

.information .read-more {
  color: rgb(40, 130, 255);
}

.information .read-more a {
  transition: font-weight 150ms ease;
}

.information .read-more a:hover {
  font-weight: normal;
}

@media only screen and (max-width:825px) {
  .main {
    display: none;
  }

  .container.information {
    padding-top: 16px;
  }

  /* information (will affect thesis) */
  .information .other,
  .information .other .image,
  .information .info {
    width: 100%;
    margin: 0;
  }

  .information .image.desktop {
    display: none;
  }

  .information .image.mobile {
    display: block;
  }

  .information .other .container {
    flex-direction: column;
    margin-bottom: 32px;
  }

  .information .info {
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
  }

  .information .container.three {
    margin-bottom: 0;
  }

}

/* start learning */
.learning h2 {
  margin: 32px 0;
}

.container.learning {
  padding: 0 56px;
  flex-direction: column;
  background-color: rgb(204, 204, 204);
}

.learning .courses {
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.learning .info {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  background-color: white;
  padding: 16px;
}

.learning .container.course {
  width: 30%;
  flex-direction: column;
  margin: 0 16px;
  margin-bottom: 32px;
  padding: 0;
  transition: box-shadow 150ms ease;
}

.learning .container.course:hover {
  box-shadow: 0 0 8px rgb(76, 76, 76, 0.5);
}

.learning .course.mobile {
  display: none;
}

.learning img {
  width: 100%;
  height: auto;
}

.learning .type {
  margin: 8px 0;
}

@media only screen and (max-width: 910px) {
  .learning .container.course {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .container.learning {
    border-top: 1px solid rgba(163, 163, 163, 0.3);
    border-bottom: 1px solid rgba(163, 163, 163, 0.3);
    padding: 32px 16px;
    background-color: rgba(163, 163, 163, 0.21);
  }

  .learning h2 {
    margin-top: 0;
  }

  .learning .course.desktop {
    display: none;
  }

  .learning .course.mobile {
    width: 100%;
    display: block;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 8px;
    transition: box-shadow 150ms ease;
  }

  .learning .course.mobile:hover {
    box-shadow: 0 0 8px rgb(76, 76, 76, 0.5);
  }

  .learning .course.mobile:last-child {
    margin-bottom: 0;
  }

  .learning .course.mobile p {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    background-color: rgb(204, 204, 204);
  }

  .learning .container.courses {
    flex-direction: column;
    width: 100%;
  }
}

/* thesis */
.container.thesis {
  justify-content: center;
  flex-direction: column;
  background-color: rgba(163, 163, 163, 0.21);
}

.thesis .container.content {
  padding: 0;
  align-items: flex-start;
}

.thesis h2 {
  margin-bottom: 32px;
}

.thesis .container.video {
  width: 60%;
  padding: 0 24px 0 0;
  flex-direction: column;
  align-items: flex-start;
}

.thesis video {
  width: 100%;
}

.thesis .video h5 {
  margin: 24px 0 8px 0;
}

.thesis .container.other {
  padding: 0;
  width: 40%;
  flex-direction: column;
}

.thesis .other .container {
  padding: 0;
}

.thesis .image {
  width: 35%;
}

.thesis .info {
  width: 65%;
}

.thesis .info h5,
.thesis .info p {
  margin: 5px 0;
}

.thesis img {
  width: 100%;
}

@media only screen and (max-width:825px) {
  .thesis .container.other {
    display: none;
  }

  .thesis .video h5,
  p.description {
    display: none;
  }

  .container.thesis {
    padding: 32px 0 24px 0;
  }

  .thesis .container.video {
    padding: 0;
    width: 100%;
  }

  .thesis h2 {
    margin-bottom: 16px;
  }
}

/* footer */
footer.container {
  padding: 16px 24px 32px 24px;
  justify-content: space-between;
  border-top: 1px solid rgba(163, 163, 163, 0.3);
  background-color: rgba(163, 163, 163, 0.21);
}

footer span {
  font-size: 14px;
}

footer .terms-privacy {
  margin: 0 16px;
}

@media only screen and (max-width:495px) {
  footer.container {
    padding: 16px 24px;
    border-top: 0;
  }

  footer .terms-privacy {
    display: none;
  }
}
